<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>600227666927-b8pglgpmiie6knp9sfe2i5bk9ogsq4ju.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.600227666927-b8pglgpmiie6knp9sfe2i5bk9ogsq4ju</string>
	<key>API_KEY</key>
	<string>AIzaSyBb8wn7IGtTx8CX3p63RfP_fA7uvfBXc5Y</string>
	<key>GCM_SENDER_ID</key>
	<string>600227666927</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.technoartMonitoring</string>
	<key>PROJECT_ID</key>
	<string>technoart-monitor</string>
	<key>STORAGE_BUCKET</key>
	<string>technoart-monitor.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:600227666927:ios:613aba1a4b163ef622f41a</string>
</dict>
</plist>